.cell {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    width:33%;
    margin: auto;
    padding: 40px;
    text-align: center;
}
.container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    width:500px;
    height:500px;
    margin:auto;
}